* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

body {
  overflow-x: hidden;
}

/***************** GLOBAL - Variables, Keyframes & Scroll JS  *****************/

:root {
  --size-100: 6.25rem;
  --size-48: 3.2rem;
  --size-40: 2.5rem;
  --size-32: 2rem;
  --size-24: 1.5rem;
  --size-22: 1.375rem;
  --size-20: 1.25rem;
  --size-18: 1.125rem;
  --size-16: 1rem;
  --size-14: 0.875rem;
  --color-bg: #fff;
  --color-black: #172633;
  --color-red: #ff3e3e;
  --color-light-red: #ff5678;
  --color-dark-grey: #454f57;
  --color-mid-grey: #8a8a8a;
  --color-grey: #b3b3b3;
  --color-light-grey: #ddd;
  --color-faint-grey: #f5f7f9;
  --color-off-white: #fbfbfb;
  --space-220: 13.75rem;
  --space-64: 4rem;
  --space-48: 3rem;
  --space-24: 1.5rem;
  --space-16: 1rem;
  --space-12: 0.75rem;
  --font-serif: "big-caslon-fb", serif;
  --font-sans: "neue-haas-unica", sans-serif;
  --weight-reg: 400;
  --weight-bold: 600;
  --weight-black: 900;
}

/* utility */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/************ Keyframes *************/

.wordContainer {
  overflow: hidden;
}

@keyframes up {
  100% {
    transform: translateY(-5%);
  }
}

.word {
  animation: up 0.8s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translateY(115%);
}

.wordContainer:nth-child(1) .word {
  animation-delay: 0.5s;
}

.wordContainer:nth-child(2) .word {
  animation-delay: 0.8s;
}

.wordContainer:nth-child(3) .word {
  animation-delay: 1s;
}

.wordContainer:nth-child(4) .word {
  animation-delay: 1.65s;
}

.wordContainer:nth-child(5) .word {
  animation-delay: 1.65s;
}

.wordContainer:nth-child(6) .word {
  animation-delay: 1.65s;
}

.wordContainer:nth-child(7) .word {
  animation-delay: 1.65s;
}

/************** On Scroll Animation ***************/

[data-scroll] {
  transition: all ease 0.8s;
}

[data-scroll="in"] {
  opacity: 1;
  transform: translateY(0);
}

[data-scroll="out"] {
  opacity: 0;
  transform: translateY(60px);
}

a {
  text-decoration: none;
  list-style: none;
}

/* a:visited {
  text-emphasis: none;
  text-decoration: none;
  color: var(--color-black);
} */

.copyright {
  font-size: var(--size-14);
  color: #8a8a8a;
  font-family: var(--font-sans);
  text-align: center;
  margin-top: 40px;
  background: #fafafa;
}

/************** Navigation ***************/
nav {
  height: 8rem;
  width: 90vw;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  z-index: 10;
}

/*Styling logo*/
.logo {
  align-self: center;
}

/*Styling Links*/
.nav-links {
  display: flex;
  list-style: none;
  width: 90vw;
  justify-content: flex-end;
  align-items: center;
  font-family: var(--font-sans);
  font-size: 18px;
  color: var(--color-black);
}

.nav-links li a {
  text-decoration: none;
  text-emphasis: none;
  padding-left: 24px;
  color: inherit;
}

.nav-links li a:hover {
  color: #8a8a8a;
  transition: all 0.3s ease;
}

.nav-links li {
  position: relative;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background: #c7cfd5;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

.transition-fade {
  transition: 0.4s;
  transform: translateY(10px);
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
  transform: translateY(0);
}

/************** Main Container & Global Classes ***************/

.transition-fade {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 90vw;
  margin: 0 auto;
  grid-row-gap: 13.75em;
}

.page-headline,
.word {
  font-family: var(--font-serif);
  /* font-size: calc(100px + 56 * ((100vw - 320px) / (2280))); */
  font-size: calc(100px + 3vw);
  line-height: 1.1;
  color: var(--color-black);
  font-weight: var(--weight-bold);
}

.textWrapper {
  margin-top: 100px;
}

.section-headline {
  font-family: var(--font-serif);
  font-size: calc(22px + 1vw);
  color: var(--color-black);
  line-height: 1.2;
  font-weight: var(--weight-bold);
}

.section-desc {
  font-family: var(--font-sans);
  font-size: var(--size-22);
  color: var(--color-black);
  line-height: 1.5;
}

.links a {
  font-family: var(--font-serif);
  font-size: var(--size-22);
  color: var(--color-black);
  line-height: 1.5;
  border-bottom: 1px solid #cccccc;
  transition: all 0.7s;
  padding-bottom: 6px;
}

.links a:hover {
  border-bottom: 1px solid #ff3e3e;
}

.links {
  grid-column: 2 / 2;
}

.image-container {
  display: flex;
  width: 100%;
  height: 850px;
  /* background: #f0f0f0; */
  grid-column: 1 / span 2;
  justify-content: space-around;
}

.headline {
  margin-top: 100px;
}

.footnote {
  font-family: var(--font-sans);
  font-size: var(--size-16);
  color: var(--color-grey);
  grid-column: 1 / span 2;
  text-align: center;
  margin-top: 1em;
  margin-top: -24px;
}

.footnote a {
  color: var(--color-grey);
  text-decoration: underline;
}

.footnote a:hover {
  color: var(--color-red);
}

.phone-image {
  display: flex;
  align-self: center;
  /* -webkit-box-shadow: 11px 8px 30px 0px rgba(50, 50, 50, 0.36);
    -moz-box-shadow:    11px 8px 30px 0px rgba(50, 50, 50, 0.36);
    box-shadow:         11px 8px 30px 0px rgba(50, 50, 50, 0.36); */
}

.phone-image img {
  width: 347px;
  height: 691px;
}

.ipad-image {
  display: flex;
  align-self: center;
}

.ipad-image img {
  width: 1010px;
  height: 773px;
}

.canopy img {
  width: 100%;
  object-fit: contain;
}

.canopy {
  grid-column: 1 / span 2;
}

.rotary {
  position: relative;
  z-index: 10;
}

.rotary-icon {
  position: absolute;
  top: 84px;
}

.main-work-image img {
  width: 100%;
  object-fit: contain;
  height: auto;
}

.main-work-image {
  grid-column: 1 / span 2;
  margin-top: 50px;
}

.travel-mode-modal {
  align-self: center;
}

.travel-mode-modal img {
  width: 375px;
  height: 394px;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.article-title a {
  text-decoration: none;
  color: inherit;
}

.article-title a:visited {
  text-emphasis: none;
  text-decoration: none;
  color: var(--color-black);
}

.footer-links li a {
  text-decoration: none;
  color: inherit;
}

.footer-links li a:visited {
  text-emphasis: none;
  text-decoration: none;
  color: var(--color-black);
}

/************** Section 1 - Hero Section ***************/

.section-1 {
  display: grid;
}

.hero-image img {
  width: 100%;
  height: auto;
  justify-self: end;
  object-fit: contain;
}

.hero-image {
  justify-self: end;
  margin-top: 3em;
}

/************** Section 2 - Neccessary Design ***************/

.section-2,
.section-3,
.section-6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas:
    "section-headline" "section-desc"
    "links"
    "image-container";
  grid-row-gap: var(--space-48);
}

/************** Section 3 - One Band, One Sound ***************/

.home-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.home-image {
  grid-column: 1 / span 2;
}

/************** Section 3 (Our Work) - Peek Balance ***************/

.section-3-peek {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-side .section-headline {
  margin-bottom: 20px;
}

.left-side .section-desc {
  width: 85%;
}

/************** Design Principles ***************/

.principles {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  margin-top: 120px;
}

.principle-title {
  font-size: var(--size-32);
  font-family: var(--font-serif);
  color: var(--color-black);
  font-weight: var(--weight-bold);
  padding-bottom: 24px;
  max-width: 234px;
}

.why-title,
.outcome-title {
  font-size: var(--size-16);
  font-family: var(--font-sans);
  color: #a8a8a8;
  font-weight: 500;
}

.why-desc,
.outcome-desc {
  font-size: var(--size-20);
  font-family: var(--font-sans);
  color: var(--color-black);
  padding-bottom: 4px;
  line-height: 1.25;
  padding-right: 1em;
}

.principle-1,
.principle-2,
.principle-3,
.principle-4,
.principle-5 {
  align-self: end;
}

.outcome-title {
  padding-top: 12px;
}

.principle-art {
  margin-bottom: 48px;
}

/*************?--End of Work Section--***************/

/************** Section 2 - Better together ***************/

.better-together {
  margin-top: -120px;
  grid-column: 1;
}

.section-better {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

/************** Section 3 - Values ***************/

.values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-gap: 40px;
  width: 90%;
  margin: 0 auto;
  margin-top: -50px;
}

.value-1 {
  background: #fbfbfb;
  padding: 40px;
  position: relative;
  border-radius: 4px;
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

.value-2 {
  background: #fbfbfb;
  padding: 40px;
  position: relative;
  border-radius: 4px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.value-3 {
  background: #fbfbfb;
  padding: 40px;
  position: relative;
  border-radius: 4px;
  grid-row: 2 / 3;
  grid-column: 3 / 3;
}

.value-4 {
  background: #fbfbfb;
  padding: 40px;
  position: relative;
  border-radius: 4px;
  grid-row: 3 / 3;
  grid-column: 1 / 2;
}

.value-5 {
  background: #fbfbfb;
  padding: 40px;
  position: relative;
  border-radius: 4px;
  grid-row: 3 / 3;
  grid-column: 2 / 3;
}

.value-6 {
  background: #fbfbfb;
  padding: 40px;
  position: relative;
  border-radius: 4px;
  grid-row: 3 / 3;
  grid-column: 3 / 3;
}

.value-main {
  text-align: center;
  align-self: center;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.value-main .value-title {
  font-size: var(--size-40);
}

.value-main .value-desc {
  font-size: var(--size-22);
}

.value-1-img,
.value-2-img,
.value-3-img,
.value-4-img,
.value-5-img,
.value-6-img {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.value-number {
  font-family: var(--font-sans);
  font-size: var(--size-20);
  color: var(--color-black);
  padding-bottom: 16px;
}

.value-title {
  font-family: var(--font-serif);
  font-size: var(--size-32);
  font-weight: var(--weight-bold);
  padding-bottom: 16px;
}

.value-desc {
  font-family: var(--font-sans);
  font-size: var(--size-18);
  color: var(--color-black);
  width: 95%;
}

.section-allofus {
  position: relative;
}

.team-image img {
  width: 100%;
  object-fit: cover;
}

.team-image {
  margin-top: -150px;
}

.hh-image img {
  width: 100%;
  object-fit: contain;
  justify-self: center;
  margin: 0 auto;
}

.hh-image {
  grid-column: 1 / span 2;
  margin-top: 50px;
}

.section-3-ceo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.point-1 .no-1 {
  font-family: var(--font-sans);
  font-size: var(--size-20);
  color: #8a8a8a;
}

.point-1 p {
  font-family: var(--font-sans);
  font-size: var(--size-20);
  color: var(--color-black);
  margin-left: 16px;
}

.point-1 {
  display: flex;
  margin-top: 20px;
}

.office-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 1320px;
  grid-gap: 33px;
  margin: 0 auto;
  margin-top: -50px;
}

.off-3 {
  margin-top: 29px;
}

.section-6pm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.job-type {
  font-family: var(--font-serif);
  font-size: var(--size-24);
  color: var(--color-black);
  margin-bottom: 8px;
  font-weight: var(--weight-bold);
}

.job-content {
  font-family: var(--font-sans);
  font-size: var(--size-18);
  color: var(--color-black);
  opacity: 0.7;
}

.job-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 100px;
}

.section-whowehire {
  background: #fff;
  padding: 64px;
}

.rainer-pic img {
  width: 66%;
  object-fit: contain;
}

.mission-title-small {
  font-size: var(--size-14);
  color: var(--color-red);
  margin-bottom: 1em;
  font-family: var(--font-sans);
}

.mission-title {
  font-size: var(--size-32);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  font-family: var(--font-serif);
  margin-bottom: 16px;
}

.mission-content {
  font-size: var(--size-18);
  font-family: var(--font-sans);
  color: #454f57;
  margin-bottom: 2em;
  width: 90%;
}

.open-roles {
  font-family: var(--font-serif);
  font-size: var(--size-48);
  color: var(--color-black);
  line-height: 1.2;
  font-weight: var(--weight-bold);
  margin-bottom: 1em;
}

.email {
  font-family: var(--font-serif);
  color: #ff5678;
  font-weight: var(--weight-bold);
}

.section-7-careers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 4em;
  padding-bottom: 5%;
}

.section-7-careers .section-headline {
  margin-bottom: 1em;
  grid-column: 1 / span 2;
}

.back-button {
  display: inline-block;
  height: 40px;
  width: 108px;
  border-radius: 4px;
  font-family: var(--font-sans);
  font-size: var(--size-18);
  border: 1px solid #d8d8d8;
  background: white;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.back-button:hover,
.back-button:focus {
  border: 1px solid #2b2b2b;
}

.back-button:active {
  transform: scale(0.99);
  color: #2b2b2b;
}

.main-job-container {
  max-width: 650px;
  min-width: 280px;
  margin: 0 auto;
  margin-top: 5%;
}

.job-heading {
  font-family: var(--font-serif);
  font-size: var(--size-48);
  color: var(--color-black);
  margin-bottom: 1em;
}

.role-desc {
  font-family: var(--font-sans);
  color: var(--color-black);
  font-size: var(--size-24);
  margin-bottom: 2em;
  padding-left: 16px;
  border-left: 4px solid #ff5678;
}

aside > p {
  margin: 1em;
}

.role-content-what h4 {
  font-family: var(--font-sans);
  font-size: var(--size-22);
  color: var(--color-black);
  margin-bottom: 8px;
}

.role-content-body,
.pointers {
  font-family: var(--font-sans);
  font-size: var(--size-20);
  color: var(--color-black);
  margin-bottom: 2em;
}

.pointers,
.pointers ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 20px;
  padding-top: 1rem;
}

.pointers h5 {
  padding-top: 8px;
  font-family: var(--font-sans);
  font-size: var(--size-16);
}

.pointers a {
  color: #ff5678;
}

.apply-button {
  display: inline-block;
  font-family: var(--font-sans);
  font-size: var(--size-20);
  width: 200px;
  height: 56px;
  border-radius: 4px;
  background: #ff5678;
  text-align: center;
  border: none;
  color: white;
  font-weight: 500;
  transition: all ease 0.4s;
  margin-top: 40px;
  cursor: pointer;
}

.apply-button:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
}

.text-field {
  min-width: 280px;
  width: 500px;
  height: 48px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  margin-bottom: 1em;
  font-family: var(--font-sans);
  font-size: var(--size-18);
  padding: 0px 10px;
}

.message-field {
  min-width: 280px;
  width: 500px;
  height: 100px;
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  margin-bottom: 1em;
  font-family: var(--font-sans);
  font-size: var(--size-18);
  padding: 10px;
}

.choose-file input {
  height: 148px;
}

.form-heading {
  font-family: var(--font-sans);
  font-size: var(--size-24);
  color: var(--color-black);
  font-weight: var(--weight-reg);
  margin-top: 40px;
  margin-bottom: 40px;
}

.border {
  border: 1px solid #f5f7f9;
}

/*************?--End of JOBS.html--***************/
/************** Section 4 - Articles ***************/

.section-4 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345, 1fr));
  grid-template-rows: 1fr;
  grid-row-gap: 3em;
  margin-bottom: 50px;
  margin-top: 150px;
}

.article-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5em;
}

.article {
  max-width: 650px;
  min-width: 200px;
  object-fit: contain;
}

.article-title {
  font-size: var(--size-20);
  font-family: var(--font-sans);
  line-height: 1.6;
  margin-bottom: 3em;
  width: 90%;
}

.article-img {
  width: 100%;
  /* min-width: 250px; */
  height: auto;
  margin-bottom: 1em;
  width: 100%;
  object-fit: contain;
}

.article:nth-child(2) {
  justify-self: center;
}

.article:nth-child(3) {
  justify-self: end;
}

.article-title a {
  border-bottom: 1px solid #e2e2e2;
  transition: all 0.5s;
}

.article-title a:hover {
  border-bottom: 1px solid #ff3e3e;
}

/************** Section 5 - Awards ***************/

.section-5 {
  /* display: flex;
  justify-content: space-around; */
  margin-bottom: 50px;
  margin-top: 50px;
}

/* list */
.awards-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  list-style: none;
}

.awards-list__item {
  flex: 0 0 320px;
}

/* card */
.award {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  text-align: center;
  min-height: 86px;
  padding: 0 46px;
}

.award__title {
  font-family: var(--font-serif);
  font-size: var(--size-20);
  font-weight: var(--weight-bold);
}

.award__source {
  font-family: var(--font-sans);
  font-size: var(--size-16);
  color: var(--color-dark-grey);
}

.award__laurel {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 30px;
  height: 86px;
}

.award__laurel--left {
  left: 0;
}

.award__laurel--right {
  right: 0;
}

/*
.award-1,
.award-2,
.award-3 {
  width: 100%;
}

.award-img {
  width: 100%;
  object-fit: contain;
  height: 86px;
} */

/************** Section 7 - Job Section ***************/

.section-7 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin-top: -200px;
  grid-column-gap: 4em;
  margin-bottom: 5%;
}

/************** Testimonial ***************/

.testimonial {
  font-size: var(--size-24);
  font-family: var(--font-serif);
  font-weight: 500;
  color: var(--color-black);
  line-height: 1.5;
  margin-bottom: 1em;
  grid-column: 1 / span 2;
}

.testimonial-slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: 100px 0;
}

.testimonial-main {
  font-size: calc(56px + 1vw);
  font-family: var(--font-serif);
  color: #172633;
  text-align: center;
  width: 75%;
  align-self: center;
  margin-bottom: 0.5em;
  line-height: 1.35;
  margin-top: -20px;
  letter-spacing: 0.4px;
}

.t-name-role {
  text-align: center;
  font-family: var(--font-sans);
  margin-top: 2em;
  font-size: var(--size-18);
  align-items: center;
}

.t-name {
  font-size: var(--size-18);
  color: #ff3e3e;
  font-weight: 500;
}

.t-role {
  font-size: var(--size-16);
  color: var(--color-grey);
  margin-top: -4px;
}

.name {
  font-size: var(--size-18);
  color: var(--color-red);
  font-family: var(--font-sans);
  font-weight: 500;
  margin-bottom: 4px;
}

.desig {
  font-size: var(--size-16);
  font-weight: var(--weight-reg);
  color: #8a8a8a;
  font-family: var(--font-sans);
  margin-top: -4px;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 40px;
}

.name-role {
  display: flex;
  flex-direction: column;
}

/************** Footer ***************/

.footer {
  background: white;
  height: auto;
  margin-top: 120px;
  border-top: 1px solid rgb(236, 236, 236);
}

.footer-width {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  margin-top: 80px;
}

.address {
  font-family: var(--font-sans);
  font-size: var(--size-18);
  color: var(--color-black);
  line-height: 1.5;
}

.address-section {
  display: flex;
}

.dbs-icon {
  margin-right: 30px;
  padding-top: 6px;
  padding-bottom: 8px;
}

.footer-links {
  font-family: var(--font-sans);
  font-size: var(--size-18);
  line-height: 1.9;
}

.footer-links a {
  border-bottom: 1px solid #fff;
  transition: all 0.5s;
  padding-bottom: -1px;
}

.footer-menu-1,
.footer-menu-2 {
  justify-self: end;
}

.footer-links a:hover {
  color: #8a8a8a;
  transition: all 0.3s ease;
}

.footer-menu-2 a:visited {
  color: inherit;
}

.footer-menu-2 a {
  color: inherit;
}

.footer-menu-1 a {
  color: inherit;
}

.footer-menu-2 .footer-links a:hover {
  color: #8a8a8a;
}

@-webkit-keyframes rotary-icon

/* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotary-icon {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotary-icon {
  -webkit-animation: rotary-icon 50s linear infinite;
  -moz-animation: rotary-icon 50s linear infinite;
  -ms-animation: rotary-icon 50s linear infinite;
  -o-animation: rotary-icon 50s linear infinite;
  animation: rotary-icon 50s linear infinite;
}

.tinker-text {
  font-family: var(--font-serif);
  font-size: 40px;
  padding: 100px;
  line-height: 1.5;
}

.tinker {
  position: relative;
}

.tinker-1 {
  position: absolute;
  top: 15%;
  left: 38%;
  z-index: -1;
}

.tinker-2 {
  position: absolute;
  top: 37%;
  left: 15%;
  z-index: -1;
}

.tinker-3 {
  position: absolute;
  top: 73%;
  left: 14%;
  z-index: -1;
}

.tinker-4 {
  position: absolute;
  top: 77%;
  left: 76%;
}

/************** Media Queries ***************/

@media screen and (max-width: 414px) and (min-width: 320px) {
  .section-2,
  .section-3,
  .section-6 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .section-headline {
    font-size: var(--size-32);
    font-weight: var(--weight-bold);
    grid-column: 1 / span 2;
    color: var(--color-black);
    letter-spacing: 0.2px;
  }

  .section-desc {
    font-size: var(--size-18);
    color: #59646d;
    grid-column: 1 / span 2;
    margin-top: -35px;
    line-height: 1.6;
  }

  .links {
    grid-column: 1;
    font-size: var(--size-16);
  }

  .section-5 {
    /* display: grid;
    grid-template-columns: auto; */
    /* margin-top: -100px; */
  }

  .section-7 {
    margin-top: -64px;
  }

  .image-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 110%;
    margin: 0 auto;
  }

  .phone-image img {
    width: 280px;
    height: 558px;
  }

  .testimonial-main {
    font-size: var(--size-24);
    font-weight: var(--weight-bold);
    line-height: 1.5;
    width: 90%;
    margin-top: 2em;
  }

  .t-name,
  .t-role {
    font-size: var(--size-16);
  }

  .tinker-text {
    font-size: var(--size-24);
    padding: 0px;
  }

  .tinker-1 {
    top: -3%;
    width: 20%;
    left: 57%;
  }

  .tinker-2 {
    width: 16%;
  }

  .tinker-3 {
    width: 17%;
    left: 75%;
  }

  .tinker-4 {
    top: 96%;
    width: 22%;
    left: 16%;
  }
}

@media screen and (max-width: 414px) and (min-width: 320px) {
  .transition-fade {
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
    margin: 0 auto;
    grid-row-gap: 10em;
  }

  .page-headline,
  .word {
    font-size: 40px;
    width: 100%;
    font-weight: var(--weight-black);
  }

  .headline,
  .textWrapper {
    margin-top: 50%;
  }

  .hero-image {
    width: 100%;
    margin-top: 16px;
    justify-self: center;
    margin-top: 100px;
  }

  .hero-image img {
    object-fit: contain;
    width: 100%;
    height: 200px;
  }

  .testimonial-container {
    font-size: var(--size-16);
    width: 90%;
  }

  .article {
    width: 100%;
    justify-self: center;
  }

  .article:nth-child(3) {
    justify-self: center;
  }

  .article-img-container {
    width: 100%;
  }

  .article-title {
    font-size: var(--size-18);
  }

  .footer-width {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer-menu-1,
  .footer-menu-2 {
    justify-self: start;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer {
    height: 100%;
  }

  .address-section {
    flex-direction: column;
    grid-column: 1 / span 2;
  }

  .people-image video {
    width: 305px;
  }

  .award-1,
  .award-2,
  .award-3 {
    justify-self: center;
    margin-bottom: 2em;
  }

  .award-img {
    width: 250px;
  }

  .section-4 {
    margin-bottom: 3em;
  }

  .section-7 {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .section-7-careers {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-7-careers .section-headline {
    margin-bottom: 1em;
    grid-column: 1;
  }

  .job-desc {
    padding-left: 16px;
    padding-right: 0;
  }

  .job-title {
    transform: translateX(0);
    width: 100%;
  }

  .job-sub-title {
    transform: translateX(0);
  }

  .team-image {
    overflow: hidden;
    position: relative;
  }

  .team-image img {
    width: 160%;
    /* position: absolute; */
    margin-left: -30%;
  }
}

/* ? OUR WORK */

@media screen and (max-width: 414px) and (min-width: 320px) {
  .section-3-peek {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2em;
  }

  .left-side .section-desc {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  .principles {
    display: flex;
    flex-direction: column;
  }

  .principle-1,
  .principle-2,
  .principle-3,
  .principle-4,
  .principle-5 {
    background: #fff;
    width: 100%;
    margin: 0 auto;
    padding: 32px;
    margin-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0 2.8px 2.2px rgba(204, 204, 204, 0.034),
      0 6.7px 5.3px rgba(204, 204, 204, 0.048),
      0 12.5px 10px rgba(204, 204, 204, 0.06),
      0 22.3px 17.9px rgba(204, 204, 204, 0.072),
      0 41.8px 33.4px rgba(204, 204, 204, 0.086),
      0 100px 80px rgba(204, 204, 204, 0.12);
  }

  .ipad-image img {
    width: 300px;
    height: 100%;
  }

  .canopy-image img {
    width: 100%;
    height: 100%;
  }

  .footnote {
    width: 320px;
    margin-top: 144px;
  }

  .testimonial-container {
    width: 90%;
  }

  .rotary {
    display: none;
  }
}

/* ? CAREERS */

@media screen and (max-width: 414px) and (min-width: 320px) {
  .hh-image img {
    width: 100%;
    object-fit: contain;
    margin-top: -50px;
  }

  .section-whowehire {
    width: 100%;
    padding: 3em;
  }

  .job-categories {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 3em;
    width: 100%;
  }

  .open-roles {
    font-size: var(--size-32);
    font-weight: var(--weight-bold);
    grid-column: 1 / span 2;
    color: var(--color-black);
  }

  .article-section {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .rainer-pic img {
    width: 100%;
  }

  .main-job-container {
    width: 100%;
    margin-top: 30%;
  }

  .job-heading {
    font-size: var(--size-32);
  }

  .role-desc {
    font-size: var(--size-20);
  }

  .role-content-body {
    font-size: var(--size-18);
    color: #454f57;
  }

  .role-content-what h4 {
    font-size: var(--size-18);
  }

  .pointers {
    font-size: var(--size-18);
    color: #454f57;
  }

  .text-field,
  .message-field {
    width: 100%;
  }

  /* ? OUR PEOPLE */

  @media screen and (max-width: 414px) and (min-width: 320px) {
    .section-better {
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 50px;
    }

    .better-together {
      margin: 0;
      justify-self: center;
    }

    .values {
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
    }

    .values .value-main, .values .value-1, .values .value-2, .values .value-3, .values .value-4, .values .value-5, .values .value-6 {
      grid-column: 1;
      grid-row: auto;
    }
  }

  @media screen and (max-width: 600px) and (min-width: 320px) {
    nav {
      position: fixed;
      height: 4.5rem;
      z-index: 3;
      width: 100vw;
    }

    .hamburger {
      display: block;
      position: absolute;
      cursor: pointer;
      right: 5%;
      top: 47%;
      transform: translate(-5%, -50%);
      z-index: 2;
      transition: all 0.7s ease;
    }

    .nav-links {
      position: fixed;
      background: #fff;
      height: 100vh;
      width: 100%;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -10%);
      transition: all 0.5s ease;
      pointer-events: none;
      font-size: calc(40px + 4vw);
      justify-content: center;
      align-items: start;
    }

    .nav-links.open {
      clip-path: circle(2000px at 90% -10%);
      -webkit-clip-path: circle(2000px at 90% -10%);
      pointer-events: all;
    }

    .nav-links li {
      opacity: 0;
      padding-left: 20px;
      margin-bottom: 20px;
    }

    .logo {
      margin-left: 4%;
    }

    .nav-links li a {
      color: #172633;
      font-family: "big-caslon-fb";
    }

    .nav-links li:nth-child(1) {
      /* transition: all 0.5s ease-in 0.3s; */
      transition-delay: 0.2s;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .nav-links li:nth-child(2) {
      /* transition: all 0.5s ease-in 0.5s; */
      transition-delay: 0.4s;
    }

    .nav-links li:nth-child(3) {
      /* transition: all 0.5s ease-in 0.7s; */
      transition-delay: 0.6s;
    }

    li.fade {
      opacity: 1;
      transform: translateY(-20px);
      transition: all 0.5s linear 0.3s;
    }

    li.fadein {
      opacity: 1;
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-4px, 6px);
    }

    .toggle .line2 {
      transition: all 0.7s ease;
      width: 0;
    }

    .toggle .line3 {
      transform: rotate(45deg) translate(-4px, -6px);
    }
  }
}

@media screen and (max-width: 1024px) and (min-width: 767px) {
  .page-headline,
  .word {
    font-size: 72px;
  }

  .section-desc {
    font-size: var(--size-18);
  }

  .values {
    display: grid;
    grid-template-columns: 1fr;
  }

  .values .value-main, .values .value-1, .values .value-2, .values .value-3, .values .value-4, .values .value-5, .values .value-6 {
    grid-column: 1;
    grid-row: auto;
  }

  .job-categories {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section-7-careers {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section-7-careers .section-headline {
    grid-column: 1;
  }

  .phone-image img {
    width: 184px;
    height: 367px;
  }

  .ipad-image img {
    width: 664px;
    height: 100%;
  }

  .travel-mode-modal img {
    width: 261px;
    height: 273px;
  }

  .principles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3em;
    grid-row-gap: 5em;
  }

  .testimonial-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    grid-column: 1 / span 2;
    margin-top: 20%;
  }

  .principle-title {
    font-size: 24px;
  }

  .left-side .section-desc {
    margin-top: 1em;
    width: 100%;
  }

  .left-side .testimonial-container {
    text-align: left;
    width: 100%;
    margin-top: 48px;
    grid-column: 1 / span 2;
  }

  .image-container {
    height: auto;
  }

  .rotary-icon {
    width: 30%;
  }

  .article-title {
    font-size: var(--size-18);
  }
}

@media screen and (max-width: 5120px) and (min-width: 2160px) {
  .transition-fade {
    width: 70%;
  }
}

/* story */
.story {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1024px;
  margin: 0 auto;
  padding-top: 4.5rem;
}

@media screen and (min-width: 640px) {
  .story {
    gap: 120px;
    padding-top: 0;
  }
}

/* story header*/
.story-header {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.story-header__body {
  position: relative;
  z-index: 2;
  order: 2;
}

.story-header__title {
  font-family: var(--font-serif);
  font-size: var(--size-32);
  line-height: 1.25;
  color: var(--color-black);
}

.story-header__author {
  padding-top: 8px;
  font-size: var(--size-18);
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: 1.25;
  color: var(--color-red);
}

.story-header__author-role {
  font-size: var(--size-18);
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: 1.25;
  color: var(--color-mid-grey);
}

.story-header__hero {
  position: relative;
  z-index: 1;
  order: 1;
  text-align: center;
}

.story-header__hero-img {
  max-width: 100%;
}

@media screen and (min-width: 640px) {
  .story-header {
    flex-direction: row;
    align-items: flex-end;
    gap: 60px;
  }

  .story-header__body {
    flex: 1 1 50%;
    min-width: 320px;
  }

  .story-header__title {
    font-size: var(--size-48);
  }

  .story-header__preamble-text {
    padding-left: 24px;
    font-size: var(--size-24);
  }

  .story-header__hero {
    order: 2;
    flex: 1 1 50%;
    min-width: 240px;
  }
}

/* story body */
.story-body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.story-body__preamble {
  padding-bottom: 24px;
}

.story-body__preamble-text {
  max-width: 65ch;
  padding-left: 16px;
  font-family: var(--font-sans);
  color: var(--color-black);
  font-size: var(--size-18);
  border-left: 4px solid var(--color-light-red);
}

.story-body__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 65ch;
  font-family: var(--font-sans);
  font-size: var(--size-16);
  color: var(--color-black);
}

.story-body__cta {
  padding-top: 32px;
  border-top: 2px solid var(--color-faint-grey);
}

.story-body__cta-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.story-body__cta-title {
  font-family: var(--font-sans);
  font-size: var(--size-18);
  font-weight: var(--weight-bold);
  line-height: 1.25;
}

.story-body__cta-excerpt {
  max-width: 65ch;
  padding-top: 4px;
  font-family: var(--font-sans);
  font-size: var(--size-16);
  line-height: 1.25;
  color: var(--color-dark-grey);
}

.story-body__cta-open-roles {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 12px;
  list-style: none;
}

.story-body__cta-role-title {
  font-family: var(--font-sans);
  font-size: var(--size-14);
  line-height: 1.25;
  color: var(--color-dark-grey);
}

.story-body__cta-role-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;
  padding-left: 16px;
  list-style-type: disc;
  color: var(--color-grey);
}

.story-body__cta-a {
  font-family: var(--font-serif);
  font-weight: var(--weight-bold);
  color: var(--color-light-red);
}

@media screen and (min-width: 640px) {
  .story-body {
    flex-direction: row;
    gap: 60px;
  }

  .story-body__preamble-text {
    padding-left: 24px;
    font-size: var(--size-24);
  }

  .story-body__content {
    gap: 24px;
    font-size: var(--size-20);
  }

  .story-body__cta {
    flex: 0 0 240px;
    padding-top: 0;
    padding-left: 32px;
    border-top: 0;
    border-left: 2px solid var(--color-faint-grey);
  }

  .story-body__cta-content {
    position: sticky;
    top: 16px;
    left: 0;
    gap: 40px;
  }
}

/* story-related content */
.story-rel__grid {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.story-rel__item--story {
  grid-column-start: 1;
  grid-column-end: 3;
}

.story-rel__item--archive {
  padding-top: 8px;
}

@media screen and (min-width: 640px) {
  .story-rel__item--archive {
    padding-top: 16px;
  }
}

/* story-card-bar */
.story-card-bar {
  display: flex;
  overflow: hidden;
  border-radius: 4px;
  background: var(--color-off-white);
}

.story-card-bar__a {
  color: inherit;
}

.story-card-bar__body {
  order: 2;
  flex: 1 1 auto;
  align-self: center;
  padding: 12px 16px;
}

.story-card-bar__title {
  align-self: center;
  font-family: var(--font-serif);
  font-size: var(--size-18);
  font-weight: var(--weight-bold);
  line-height: 1.25;
}

.story-card-bar__meta {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2px;
  font-size: var(--size-14);
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: 1.25;
  color: var(--color-mid-grey);
}

.story-card-bar__author {
  color: var(--color-red);
}

.story-card-bar__author::after {
  content: "\a0—\a0";
  color: var(--color-mid-grey);
}

.story-card-bar__excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 65ch;
  padding-top: 4px;
  font-family: var(--font-sans);
  font-size: var(--size-14);
  line-height: 1.25;
  color: var(--color-dark-grey);
}

.story-card-bar__thumb {
  order: 1;
  flex: 0 0 120px;
  width: 120px;
}

.story-card-bar__thumb-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media screen and (min-width: 640px) {
  .story-card-bar__body {
    padding: 16px 24px;
  }

  .story-card-bar__title {
    font-size: var(--size-24);
  }

  .story-card-bar__meta {
    padding-top: 4px;
    font-size: var(--size-16);
  }

  .story-card-bar__excerpt {
    padding-top: 8px;
    font-size: var(--size-16);
  }

  .story-card-bar__thumb {
    flex: 0 0 160px;
    width: 160px;
  }
}

/* archive card */
.archive-card-bar {
  height: 100%;
  padding: 12px 16px;
  border-left: 4px solid var(--color-light-red);
  border-radius: 4px;
  background: var(--color-off-white);
}

.archive-card-bar__a {
  color: inherit;
}

.archive-card-bar__title {
  font-family: var(--font-serif);
  font-size: var(--size-18);
  font-weight: var(--weight-bold);
  line-height: 1.25;
}

.archive-card-bar__excerpt {
  max-width: 65ch;
  padding-top: 2px;
  font-family: var(--font-sans);
  font-size: var(--size-14);
  line-height: 1.25;
  color: var(--color-dark-grey);
}

@media screen and (min-width: 640px) {
  .archive-card-bar {
    padding: 16px 24px;
  }

  .archive-card-bar__title {
    font-size: var(--size-24);
  }

  .archive-card-bar__excerpt {
    padding-top: 4px;
    font-size: var(--size-16);
  }
}

/* section-people-stories */
.section-people-stories {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

@media screen and (min-width: 415px) {
  .section-people-stories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 0;
    row-gap: 60px;
  }

  .section-people-stories__list {
    grid-column: 1 / 3;
  }
}

/* story-list */
.story-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media screen and (min-width: 415px) {
  .story-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 36px;
  }

  .story-list__item {
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 1;
  }
}

/* story-card */
.story-card {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  background: var(--color-off-white);
}

.story-card__a {
  color: inherit;
}

.story-card__body {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 20px 20px;
}

.story-card__title {
  font-family: var(--font-serif);
  font-size: var(--size-24);
  font-weight: var(--weight-bold);
  line-height: 1.25;
}

.story-card__meta {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: var(--size-16);
  font-family: var(--font-sans);
  font-weight: 500;
  line-height: 1.25;
  color: var(--color-mid-grey);
}

.story-card__author {
  color: var(--color-red);
}

.story-card__excerpt {
  font-family: var(--font-sans);
  font-size: var(--size-16);
  line-height: 1.25;
  color: var(--color-dark-grey);
}

.story-card__thumb {
  order: 1;
}

.story-card__thumb-img {
  display: block;
  width: 100%;
}

/* section-open-roles */
.section-open-roles__functions {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
}

@media screen and (min-width: 640px) {
  .section-open-roles__functions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 60px;
  }
}

/* job-function */
.job-function {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.job-function__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.job-function__title {
  font-family: var(--font-serif);
  font-size: var(--size-24);
  color: var(--color-black);
  font-weight: var(--weight-bold);
}

.job-function__description {
  font-family: var(--font-sans);
  font-size: var(--size-18);
  color: var(--color-black);
  opacity: 0.7;
}

.job-function__list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 640px) {
  /* .job-function__header {
    height: 92px;
  } */

  .job-function__description {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* job-card */
.job-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  border-bottom: 1px solid var(--color-light-grey);
  transition: background 150ms ease;
}

.job-card__body {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.job-card__role {
  font-family: var(--font-sans);
  font-size: var(--size-20);
  color: var(--color-black);
  font-weight: 500;
}

.job-card__position {
  font-family: var(--font-sans);
  font-size: var(--size-16);
  color: var(--color-mid-grey);
}

.job-card__role,
.job-card__position {
  transform: translateX(-20px);
  transition: all 200ms ease;
}

.job-card__icon {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 200ms ease;
}

/* :hover */
.job-card:hover {
  background: var(--color-light-red);
  border-radius: 2px;
}

.job-card:hover .job-card__role {
  color: var(--color-bg);
}

.job-card:hover .job-card__position {
  color: var(--color-bg);
  opacity: 0.8;
}

.job-card:hover .job-card__role,
.job-card:hover .job-card__position {
  transform: translateX(0);
}

.job-card:hover .job-card__icon {
  opacity: 1;
  transform: translateX(0);
}

